body {
    margin-top: 60px;
    margin-bottom: 30px;
}

#header {
    /* JS: APARECER SOMENTE QUANDO NÃO ESTIVER NA POSIÇÃO Y=0 */
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(238,204,222,0.5);
    width: 100vw;
    z-index: 1;
}

#header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0; /* a width do header define sua altura pelo padding */
    width: 350px;
    margin: auto;
}

#header input {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    width: 82.5%; /* 100 - 9.5 - 3 - 3 - 2 = 82 */
    border: none;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.8);
    padding: 2% 3%;
}

#header img {
    width: 9.5%;
    height: auto;
}

#main-title {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
}

#main-subtitle {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 65px;
}

.container-4-pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-2-pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 225px;
    height: 300px;
    margin: 10px;
    z-index: 0;
}   

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:root {
    --icon-size-square: 10vmin;
}

#container-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    width: var(--icon-size-square);
    min-width: 50px;
    height: calc(calc(var(--icon-size-square) * 3) + 5vmin);
    min-height: calc(150px + 5vmin);
    top: 40vh;
    left: 4vw;
    /* padding: 0px 10px; */
    /* background-color: black; */
}

.icon {
    display: flex;
    justify-content: flex-end; /* MUDAR PARA CENTER */
    align-items: center;
    height: var(--icon-size-square);
    min-height: 50px;
    width: 100%;
    border-radius: 50%;
    background-color: #FFF;
}

.icon img {
    display: block;
    position: relative;
    width: var(--icon-size-square);
    min-width: 50px;
    /* height: auto; */
}
/* 
#search-bar {
    animation-name: hide-search-bar;
    animation-duration: 500ms;
}

#search-bar input {
    display: none;
    width: 80%;
    padding-left: 4%;
    height: 50%;
    border: none;
    background-color: transparent;
    border-radius: var(--icon-size-square);
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

#search-bar:hover {
    JS: clicar no icone de busca (onclick) ativa a animação
    animation-name: show-search-bar;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

#search-bar:hover input{
    display: inline;
}

input:focus {
    outline: rgba(255,255,255,0);
    JS: enquanto estiver em focus, manter search-bar aberta
}

@keyframes show-search-bar {
    0% {
        width: 100%;
        border-radius: 50%;
    }
    100% {
        border-radius: var(--icon-size-square);
        width: 500%;
        background: linear-gradient(90deg, rgba(255,255,255,0), white 80%);
    }
}

JS: ACIONAR QUANDO O FOCUS SAIR DO INPUT
@keyframes hide-search-bar {
    0% {
        border-radius: var(--icon-size-square);
        width: 500%;
        background: linear-gradient(90deg, rgba(255,255,255,0), white, white);
    }
    100% {
        width: 100%;
        border-radius: 50%;
    }
} */

#logo {
    position: fixed;
    right: 4%;
    bottom: 4.5%;
    height: 80px;
}

#footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-align: center;
    margin-top: 100px;
}

/* --------------------------------- MOBILE --------------------------------- */
/*
@media (max-width: 600px){
    body {
        color: red;
    }

    .item {
        width: 225px;
        height: 300px;
        margin: 5px;
    }   

    #container-icons {
        flex-direction: row;
        width: 100%;
        height: 5%;
        bottom: 5%;
    }

    .icon {
        height: 100%;
        width: auto;
    }
}*/