:root {
    /* .container-items */
    --total-items-width: 78vw;
    --items-in-a-row: 4;
    --items-image-ratio: calc(3 / 4);    /*    3:4 ratio    */
    --items-margin: 0.8vw;
    --single-item-width: calc(calc(var(--total-items-width) / var(--items-in-a-row)) - calc(var(--items-margin) * 2));
    --single-item-height: calc(var(--single-item-width) / var(--items-image-ratio));
    --width-left-around-items: calc(100vw - var(--total-items-width));

    /* .containter-icons */
    --icon-size-square: 5vw;
    --icon-minsize-square: 3em;
    --total-space-between-icons: 2.5vw;
    --number-of-icons: 3;
    --width-left-around-icons: calc(calc(var(--width-left-around-items) / 2) - var(--icon-size-square)); /* 22 / 2 - 5 = 6vw */
    --icon-leftright-margins: calc(var(--width-left-around-icons) / 2); /* 6 / 2 = 3vw */
    --container-icons-height: calc(var(--total-space-between-icons) + calc(var(--icon-minsize-square) * var(--number-of-icons)) );
}

body {
    margin: 3em 0 2em 0;
}

/* ------------------     HEADER     -------------------- */

#header {
    /* JS: APARECER SOMENTE QUANDO NÃO ESTIVER NA POSIÇÃO Y=0 */
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(238,204,222,0.5);
    width: 100vw;
    z-index: 1;
}

#search-bar {
    --search-bar-width: 22em;
    --search-input-leftright-padding: 0.5em;
    --search-input-font-size: 1rem;
    --search-button-size: calc(var(--search-input-font-size) + calc(var(--search-input-leftright-padding) * 2));

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--search-input-font-size);
    width: var(--search-bar-width);
    padding: 1.5em 0; /* define a altura do header que é = (padding top/bottom da searchbar * 2) + search-input-font-size + (padding top/bottom do input * 2) */
    margin: auto;
}

#search-bar input {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    width: calc(calc(calc(var(--search-bar-width) - var(--search-button-size)) - calc(var(--search-input-leftright-padding) * 2)) - 0.5em); /* 0.5em é o espaço entre input e button */
    border: none;
    border-radius: 1em;
    background-color: rgba(255,255,255,0.8);
    padding: 0.4em var(--search-input-leftright-padding);
    margin: 0;
}

#search-bar img {
    height: var(--search-button-size);
    width: auto;
}

/* ------------------     TITLE AND SUBTITLE     -------------------- */

#main-title {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 3.3em;
    text-align: center;
    margin-bottom: 0.3em;
}

#main-subtitle {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 6.5vw;
}

/* ------------------     ITEMS     -------------------- */

.container-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: var(--total-items-width);
    margin: auto;
}

.container-items div {
    width: var(--single-item-width);
    height: var(--single-item-height);
    margin: var(--items-margin);
    z-index: 0;
}

.container-items div:hover {
    transform: scale(1.05);
}

.container-items div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------     ICONS     -------------------- */

#container-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    width: var(--icon-size-square);
    min-width: var(--icon-minsize-square);
    height: calc(calc(var(--icon-size-square) * var(--number-of-icons)) + var(--total-space-between-icons));
    min-height: calc(calc(var(--icon-minsize-square) * var(--number-of-icons)) + var(--total-space-between-icons));
    top: calc(50vh - calc(var(--container-icons-height) / 2)); /*  + var(--icon-size-square  */
    margin: 0 var(--icon-leftright-margins);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--icon-size-square);
    min-height: var(--icon-minsize-square);
    width: 100%;
    border-radius: 50%;
    background-color: #FFF;
}

.icon img {
    display: block;
    position: relative;
    width: var(--icon-size-square);
    min-width: var(--icon-minsize-square);
}

/* -------------------------------------- */

#logo {
    position: fixed;
    right: 3.25vw;
    bottom: 3.25vw;
    width: 4.5vw;
    min-width: 2.5em;
}

#footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75em;
    text-align: center;
    margin-top: 8em;
}

/* --------------------------------- MOBILE --------------------------------- */
/*
@media (max-width: 600px){
    body {
        color: red;
    }

    .item {
        width: 225px;
        height: 300px;
        margin: 5px;
    }   

    #container-icons {
        flex-direction: row;
        width: 100%;
        height: 5%;
        bottom: 5%;
    }

    .icon {
        height: 100%;
        width: auto;
    }
}*/